<a href="https://colab.research.google.com/github/villar432/brayan-villar/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tupla=(6,)

In [ ]:
carros1 = ("Stelvio", "giulia", "aveo", "fiesta")
carros2 = ("Veyron 16.4", "Focus", "Ateca", "Tucson")
carros3 = ("Forester", "Ibiza","Fabia", "Clio")

In [1]:
frutas = ("apple", "banana", "cherry", "date", "fig", "grape")
print(frutas)
print(len(frutas))

('apple', 'banana', 'cherry', 'date', 'fig', 'grape')
6

In [9]:
fruits = ("apple", "banana", "cherry", "date", "fig", "grape")
print(fruits[2])

cherry

In [8]:
colors = ("red", "green", "blue")
red, green, blue = colors
print(red)
print(green)
print(blue)

red
green
blue

In [7]:
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)

tupla_concatenada = tupla1 + tupla2
print(tupla_concatenada)

(1, 2, 3, 4, 5, 6)

In [2]:
tupla = ("repeat",)
tupla_repetida = tupla * 4
print(tupla_repetida)

('repeat', 'repeat', 'repeat', 'repeat')

In [3]:
numbers = (10, 20, 30, 40, 50)

for number in numbers:
    print(number)

10
20
30
40
50

In [6]:
tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")

tupla_anidada = (tuple1, tuple2)
print(tupla_anidada)

((1, 2, 3), ('a', 'b', 'c'))

In [4]:
my_list = [100, 200, 300, 400]
my_tuple = tuple(my_list)
print(my_tuple)

(100, 200, 300, 400)

In [5]:
my_tuple = (5, 10, 15, 20, 25, 30, 35)

print(my_tuple[2])  # Imprime el valor en el índice 2 (15)
print(my_tuple[1:5])  # Imprime la sub-tupla del índice 1 al 4 (10, 15, 20, 25)

15
(10, 15, 20, 25)

In [ ]:
[] persona =